<query-editor-row query-ctrl="ctrl" can-collapse="false">
  <div class="gf-form-inline">
		<div class="gf-form">
      <label class="gf-form-label query-keyword">Resource Group</label>
      <gf-form-dropdown model="ctrl.target.resourceGroup"
        lookup-text="true"
        get-options="ctrl.getOptions($query)"
        on-change="ctrl.refresh()">
      </gf-form-dropdown>
    </div>
    <div class="gf-form">
      <label class="gf-form-label query-keyword">Resource Provider Namespace</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.target.resourceProviderNamespace" spellcheck="false" placeholder="" ng-blur="ctrl.refresh()">
    </div>
    <div class="gf-form">
      <label class="gf-form-label query-keyword">Resource Type</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.target.resourceType" spellcheck="false" placeholder="" ng-blur="ctrl.refresh()">
    </div>
    <div class="gf-form">
      <label class="gf-form-label query-keyword">Resource Name</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.target.resourceName" spellcheck="false" placeholder="" ng-blur="ctrl.refresh()">
    </div>
    <div class="gf-form">
      <label class="gf-form-label query-keyword">Api Version</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.target.apiVersion" spellcheck="false" placeholder="" ng-blur="ctrl.refresh()">
    </div>
    <div class="gf-form max-width-18">
      <label class="gf-form-label query-keyword">Time Grain</label>
      <input type="text" class="gf-form-input width-5" ng-model="ctrl.target.timeGrain" spellcheck="false" placeholder="" ng-blur="ctrl.refresh()">
      <select class="gf-form-input" ng-model="ctrl.target.timeGrainUnit" ng-options="f as f for f in ['minute', 'hour', 'day', 'month', 'year']"></select>
    </div>
    <div class="gf-form">
      <label class="gf-form-label query-keyword">Filter</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.target.filter" spellcheck="false" placeholder="" ng-blur="ctrl.refresh()">
    </div>
  </div>
</query-editor-row>
